<a href="{{ "/projects" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="title">projects</h2></a>
<a href="{{ "/notes" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="title">notes</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="title">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="title">About me</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="title">RSS</h2></a>

<a href="https://iris.unist.ac.kr/" target="_blank"><h3 class="header-link">iris lab</h2></a>