<a href="{{ "/projects" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="title">projects</h2></a>
<a href="{{ "/notes" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">notes</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About me</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>