<a href="{{ "/projects" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">projects</h2></a>
<a href="{{ "/notes" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">notes</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">about-me</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
<a href="http://iris.unist.ac.kr/" target="_blank"><h3 class="header-link-second">iris lab</h3></a>
<a href="https://www.researchgate.net/profile/Daehyeon_Han" target="_blank"><h3 class="header-link-second">researchgate</h3></a>